.amazon_logo{
    display: block;
    width: 6rem;
   background-image: url("/images/navbar/amazon_logo.png");
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
}
