@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Montserrat&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700&display=swap');
*{
    /* font-family: 'Cabin', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
font-family: 'Assistant', sans-serif;
box-sizing: border-box;
margin: 0px;
padding: 0px;
}


.icons{
    width: auto;
    height: auto;
}

.cursor_pointer{
    cursor: pointer;
}

#account-and-sign-in:hover #signin-popup{
display: flex;

}
.card-page{
    background: linear-gradient(to bottom , transparent 0%,  #E3E6E6 20%);
}

body{
    background-color: #E3E6E6;
}